.full-order {
  z-index: 2;
  .pizza-order {
    transition: 0.3s all;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    font-family: "Nunito", sans-serif;
    color: burlywood;

    h1 {
      font-family: "Modak", cursive;
    }
  }

  .remove-pizza-icon {
    cursor: pointer;
  }

  .item-container {
    overflow-y: scroll;
  }
}

.thelema-modal {
  font-family: "Nunito", sans-serif;
  background-color: black;
}

.thelema-modal-footer {
  font-family: "Nunito", sans-serif;
  background-color: black;
}
