<div class="full-order">
  <div class="container pt-5 pb-3 mt-4">
    <div class="card pizza-order bg-dark">
      <div class="card-footer" *ngIf="cartState$ | async as state">
        <h1 class="text-warning p-0 mb-0">Your Order</h1>
        <h5 class="card-title text-white">
          Total: {{ state.total.subTotal | currency: "EUR":"symbol":"1.2-2" }} /
          {{ state.total.subTotal * 1.1 | currency: "USD":"symbol":"1.2-2" }}
        </h5>
        <h6 class="card-title text-white">
          Delivery Cost:
          {{ state.total.delivery | currency: "EUR":"symbol":"1.2-2" }} /
          {{ state.total.delivery * 1.1 | currency: "USD":"symbol":"1.2-2" }}
        </h6>
        <h6 class="card-title text-white">
          at Checkout:
          {{ state.total.grandTotal | currency: "EUR":"symbol":"1.2-2" }} /
          {{ state.total.grandTotal * 1.1 | currency: "USD":"symbol":"1.2-2" }}
        </h6>
        <button
          class="btn btn-warning"
          [disabled]="state.cart.length === 0"
          (click)="orderCheckout(template)"
        >
          Checkout {{ state.cart.length }} pizzas
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card pizza-order bg-dark">
      <div class="card-body" *ngIf="cartState$ | async as state">
        <h1 class="text-warning p-0 mb-0">Your Items</h1>
        <div class="item-container" style="max-height: 100px;">
          <div *ngFor="let item of state.cart">
            <h6 class="card-title m-0 text-white">
              {{ item.name }} : (1)
              <i
                class="far fa-window-close pl-3 remove-pizza-icon"
                (click)="removePizza(item)"
              ></i>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div
    class="modal-header thelema-modal text-warning"
    *ngIf="cartState$ | async as state"
  >
    <h4 class="modal-title">Thank you for your order!!!</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body thelema-modal-footer text-white">
    <h6>One more step, please complete your delivery Information:</h6>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Your Name"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Address"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>
    <div class="input-group mb-3">
      <input
        type="number"
        class="form-control"
        placeholder="Phone Number"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>
    <button class="btn btn-warning" [disabled]="true">
      Go to Payments
    </button>
  </div>
</ng-template>
