.thelema-pizza-card {
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .thelema-pizza-title {
    font-family: "Nunito", sans-serif;
    color: white;
    letter-spacing: 4px;
    font-size: 30px;
  }

  .thelema-pizza-ingredients {
    font-family: "Nunito", sans-serif;
    color: burlywood;
  }

  .thelema-pizza-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .thelema-pizza-price {
    font-family: "Nunito", sans-serif;
    color: burlywood;
    font-size: 30px;
  }
}

.pizza-cart {
  width: 30%;
  position: fixed;
  top: 20%;
  right: 1%;
}

.th-card-group {
  width: 75%;
}

.order-button {
  font-family: "Nunito", sans-serif;
  color: burlywood;
}

@media only screen and (max-width: 576px) {
  .th-card-group {
    width: 100%;
  }

  .pizza-cart {
    width: 100%;
  }

  .thelema-pizza-card {
    .thelema-pizza-price {
      font-size: 24px;
    }
  }
}
