<div class="bg-warning">
  <img
    src="assets/img/th77.jpg"
    alt="second slide"
    style="display: block; width: 100%;"
  />

  <div class="container">
    <div class="row card-group th-card-group">
      <div class="col-sm-12 col-md-6" *ngFor="let pizza of pizzaCatalogue">
        <div
          class="card text-center mt-3 mb-3 thelema-pizza-card"
          style="height: 400px; border: none;"
        >
          <img
            class="card-img-top thelema-pizza-image"
            [src]="pizza.image"
            alt="Card image cap"
          />
          <div class="card-footer m-0 pt-4">
            <h5 class="card-title mb-0 thelema-pizza-title">
              {{ pizza.name }}
            </h5>
            <small class="card-text thelema-pizza-ingredients p-0">
              {{ pizza.ingredients }}
            </small>
            <p class="text-warning thelema-pizza-price pb-0 mb-0">
              <small>€</small>
              {{ pizza.price | number: "1.2-2" }}
              /
              <small>US$</small>
              {{ pizza.price * 1.1 | number: "1.2-2" }}
            </p>
            <button class="btn btn-warning btn-sm" (click)="addToOrder(pizza)">
              <i class="fas fa-cart-plus"></i>
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-12 pizza-cart" *ngIf="showCheckoutWindow">
        <button
          class="btn btn-lg btn-dark m-0 float-right order-button"
          (click)="showResponsiveCart()"
        >
          Click to Order Now
        </button>
        <div *ngIf="showResponsive">
          <app-pizza-order></app-pizza-order>
        </div>
      </div>
    </div>
  </div>
</div>
