<carousel [isAnimated]="true">
  <slide>
    <img
      src="assets/img/th-1.jpg"
      alt="first slide"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/img/th-3.jpg"
      alt="third slide"
      style="display: block; width: 100%;"
    />
  </slide>
</carousel>

<div class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 p-5">
        <div class="card thelema-card" style="width: 17rem;">
          <div class="card-body text-center">
            <h5
              class="card-title text-center text-warning display-4 thelema-card-title"
            >
              <span class="fa-stack fa-md">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="far fa-grin-hearts fa-circle fa-stack-1x"></i>
              </span>
            </h5>
            <p class="card-text text-white">
              The best ingredients. bringing to your table, the best flavors of
              the world
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 p-5">
        <div class="card thelema-card" style="width: 17rem;">
          <div class="card-body text-center">
            <h5
              class="card-title text-center text-warning display-4 thelema-card-title"
            >
              <span class="fa-stack fa-md">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="far fa-grin-wink fa-circle fa-stack-1x"></i>
              </span>
            </h5>
            <p class="card-text text-white">
              Our delivery is fast, get our delicious product while is still
              warm!!
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 p-5">
        <div class="card thelema-card" style="width: 17rem;">
          <div class="card-body text-center">
            <h5
              class="card-title text-center text-warning display-4 thelema-card-title"
            >
              <span class="fa-stack fa-md">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="far fa-grin-beam fa-circle fa-stack-1x"></i>
              </span>
            </h5>
            <p class="card-text text-white">
              Customers are top priority, deliver an excelent service and
              product, our target
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
