.th-navbar {
  height: 7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .thelema-logo {
    font-family: "Modak", cursive;
    font-size: 3rem;
  }

  .thelema-header-link {
    font-family: "Nunito", sans-serif;
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .thelema-logo {
    padding-left: 3rem;
    font-size: 2rem !important;
  }

  .responsive-header-links {
    color: black !important;
    list-style-type: none !important;
    padding-left: 5rem !important;
  }
}
