<nav
  class="navbar navbar-expand-lg navbar-expand-sm navbar-light sticky-top shadow bg-warning th-navbar"
>
  <div class="container">
    <div class="row">
      <a class="navbar-brand thelema-logo pr-5" href="#">Thelema Cuisine</a>
      <div class="responsive-header-links d-flex pl-4" *ngIf="showPhoneLinks">
        <li>
          <a style="color: black;" [routerLink]="['']"
            ><i class="fas fa-home fa-2x" style="color: black;"></i>Home</a
          >
        </li>
        <li>
          <a class="pl-4" style="color: black;" [routerLink]="['order']"
            ><i class="fas fa-store-alt fa-2x" style="color: black;"></i
            >Store</a
          >
        </li>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link thelema-header-link" [routerLink]="['']"
              ><i class="fas fa-home fa-2x"></i>Home</a
            >
          </li>
          <li class="nav-item thelema-header-link">
            <a class="nav-link" [routerLink]="['order']"
              ><i class="fas fa-store-alt fa-2x"></i>Store</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
