<!-- Site footer -->
<footer class="site-footer text-warning">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          "Thelema" is a word used in ancient Greece to describe or represent
          Will, this important aspect of human nature, neccessary to define,
          plan and achive goals in life, It's been the mark of my diverse
          career. This test uses MEAN Stack (MongoDB,Angular 8,ExpressJS, NodeJS
          ), and y really enjoyed building it.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>My Skills</h6>
        <ul class="footer-links">
          <li><a href="https://www.google.com/">Javascript & Typescript</a></li>
          <li>
            <a href="https://www.google.com/">Angular</a>
          </li>
          <li>
            <a href="https://www.google.com/">CSS/SCSS</a>
          </li>
          <li>
            <a href="https://www.google.com/">MongoDB</a>
          </li>
          <li><a href="https://www.google.com/">ReactJs</a></li>
          <li>
            <a href="https://www.google.com/">C# & NetCore</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://www.google.com/">About Us</a></li>
          <li><a href="https://www.google.com/">Contact Us</a></li>
          <li>
            <a href="https://www.google.com/">Contribute</a>
          </li>
          <li>
            <a href="https://www.google.com/">Privacy Policy</a>
          </li>
          <li><a href="https://www.google.com/">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2020
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="text-warning" href="#"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li>
            <a class="text-warning" href="#"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li>
            <a class="text-warning" href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a class="text-warning" href="#"
              ><i class="fab fa-pinterest-square"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
